// colors
$shadow-light: #192133;
$shadow-medium: #192133;
$shadow-dark: #192133;
$white: #192133;
$primary: #192133;
$light-gray: #192133;
$lighter-gray: #192133;
$text: #192133;
$transparent: rgba(0, 0, 0, 0);
